---
import BlogPostPreview from '../../components/BlogPostPreview.astro'
import PageLayout from '../../layouts/PageLayout.astro'


interface MarkdownFrontmatter {
    title: string;
    publishDate: number;
}

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

let title = 'Posts | Oz Ertas'
let currentPage = '/posts'
---

<PageLayout title={title} currentPage={currentPage}>
    <section aria-label="Blog post list">
      <ul class='flex flex-col space-y-2.5'>
        {allPosts.map(p => <BlogPostPreview post={p} />)}
      </ul>
    </section>
  </PageLayout>
