---
import BaseHead from '../../components/BaseHead.astro'
import BlogPostPreview from '../../components/BlogPostPreview.astro'
import Navigation from '../../components/Navigation.svelte'

interface MarkdownFrontmatter {
    title: string;
    publishDate: number;
}

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

let title = 'Posts | Oz Ertas'
let currentPage = '/posts'
---
<html lang="en">
  <BaseHead title={title} />

  <body class='p-5 text-gray-800 max-w-prose mx-auto overflow-y-scroll'>
    <Navigation {currentPage}/>
    <main>
    <section aria-label="Blog post list">
      <ul class='flex flex-col space-y-2.5'>
        {allPosts.map(p => <BlogPostPreview post={p} />)}
      </ul>
    </section>
    </main>
  </body>

</html>
