---
	import BaseHead from '../components/BaseHead.astro'

	let title = 'Oz Ertas'
---
<html lang="en">

<BaseHead title={title} />

<body>
	<h1>ertas.dev</h1>
	<a href="/posts">Blog</a>
</body>

</html>