---
export interface Props {
  title: string;
  publishDate: string;
}

const { title, publishDate } = Astro.props;
---

  <main>
      <header class='mb-5'>
        <h1 class='text-lg md:text-xl font-bold'>{title}</h1>
        <p class="text-gray-500">{publishDate}</p>
      </header>
      <article class='prose prose-green mb-5'>
        <slot />
      </article>
  </main>
