---
import dayjs from 'dayjs'
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<li>
    <a href={post.url}>
        <p class='md:text-lg font-bold hover:underline'>{post.title}</p>
    </a>
    <p class='text-sm text-gray-500'>{dayjs(post.publishDate).format('MMM D, YYYY')}</p>
</li>
